In [6]:
import pandas as pd
import numpy as np
# Đọc file CSV vào một DataFrame
url="https://raw.githubusercontent.com/Phot1112/Spotify-project/e2de56e65cc13b4ca997c28544938eb25efbc333/data/raw/spotify_full_list_20102023.csv"
df = pd.read_csv(url)

#Hiển thị số dòng và cột của bộ dũ liệu
print(f"Số hàng: {df.shape[0]}")
print(f"Số cột: {df.shape[1]}")

# Hiển thị 5 dòng đầu tiên
print("5 dòng đầu tiên của DataFrame:")
df.head()

Số hàng: 10441
Số cột: 11
5 dòng đầu tiên của DataFrame:

,Unnamed: 0,Artist and Title,Artist,Streams,Daily,year,main_genre,genres,first_genre,second_genre,third_genre
0,0,J. Cole - No Role Modelz,J. Cole,2300753974,987553,2014.0,Hip-Hop/Rap,"['conscious hip hop', 'hip hop', 'north caroli...",conscious hip hop,hip hop,north carolina hip hop
1,1,Sam Smith - Stay With Me,Sam Smith,2135129240,875392,2014.0,Pop,"['pop', 'uk pop']",pop,uk pop,Unknown
2,2,Mark Ronson - Uptown Funk,Mark Ronson,2039781091,675268,2014.0,Pop,['pop soul'],pop soul,Unknown,Unknown
3,3,Sam Smith - I'm Not The Only One,Sam Smith,1926711475,791299,2014.0,Pop,"['pop', 'uk pop']",pop,uk pop,Unknown
4,4,Maroon 5 - Sugar,Maroon 5,1877824112,552959,2014.0,Pop,['pop'],pop,Unknown,Unknown

In [7]:
# Hiển thị thông tin DataFrame (cột, kiểu dữ liệu, v.v.)
print("\nThông tin DataFrame:")
df.info()

Thông tin DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10441 entries, 0 to 10440
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        10441 non-null  int64
 1   Artist and Title  10441 non-null  object
 2   Artist            10441 non-null  object
 3   Streams           10441 non-null  int64
 4   Daily             10441 non-null  int64
 5   year              10441 non-null  float64
 6   main_genre        10110 non-null  object
 7   genres            10110 non-null  object
 8   first_genre       10110 non-null  object
 9   second_genre      10110 non-null  object
 10  third_genre       10110 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 897.4+ KB

In [8]:
#Kiểm tra số dữ liệu bị thiếu
df.isnull().sum()

Unnamed: 0            0
Artist and Title      0
Artist                0
Streams               0
Daily                 0
year                  0
main_genre          331
genres              331
first_genre         331
second_genre        331
third_genre         331
dtype: int64

In [9]:
# Xác định các cột cần điền
columns_to_fill = ['main_genre', 'genres', 'first_genre', 'second_genre', 'third_genre']

# Điền giá trị "Unknown" vào các ô trống (NaN) của những cột này
df.fillna({col: 'Unknown' for col in columns_to_fill}, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10441 entries, 0 to 10440
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        10441 non-null  int64
 1   Artist and Title  10441 non-null  object
 2   Artist            10441 non-null  object
 3   Streams           10441 non-null  int64
 4   Daily             10441 non-null  int64
 5   year              10441 non-null  float64
 6   main_genre        10441 non-null  object
 7   genres            10441 non-null  object
 8   first_genre       10441 non-null  object
 9   second_genre      10441 non-null  object
 10  third_genre       10441 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 897.4+ KB

In [11]:
df.isnull().sum()

Unnamed: 0          0
Artist and Title    0
Artist              0
Streams             0
Daily               0
year                0
main_genre          0
genres              0
first_genre         0
second_genre        0
third_genre         0
dtype: int64

In [12]:
#Chuyển đổi kiểu dữ liệu cột 'year'
df['year'] = df['year'].astype(int)

In [13]:
#Xóa cột 'Unnamed: 0'
df.drop(columns=['Unnamed: 0'], inplace=True)
# 1. Kiểm tra số lượng dòng bị trùng lặp
duplicate_count = df.duplicated().sum()
print(f"Tìm thấy tổng cộng: {duplicate_count} dòng bị trùng lặp hoàn toàn.")

Tìm thấy tổng cộng: 0 dòng bị trùng lặp hoàn toàn.

In [14]:
#in ra các dòng trùng lặp
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Artist and Title, Artist, Streams, Daily, year, main_genre, genres, first_genre, second_genre, third_genre]
Index: []

In [15]:
#3. Phân tích Thống kê Mô tả
print("BƯỚC 3: PHÂN TÍCH THỐNG KÊ MÔ TẢ")
print("\n3.1. Thống kê tổng quan cho cột 'Streams'")
 # Sử dụng .to_string() để đảm bảo định dạng đẹp
print(df['Streams'].describe().to_string())

BƯỚC 3: PHÂN TÍCH THỐNG KÊ MÔ TẢ

3.1. Thống kê tổng quan cho cột 'Streams'
count    1.044100e+04
mean     3.388738e+08
std      3.540370e+08
min      1.000835e+08
25%      1.500282e+08
50%      2.107983e+08
75%      3.677910e+08
max      4.387732e+09

In [16]:
#Phân phối của các cột phân loại
print("\n3.2. Phân phối của các cột phân loại")
        
print("\n3.2.1. Số lượng bài hát theo năm:")
print(df['year'].value_counts().sort_index().to_string())

3.2. Phân phối của các cột phân loại

3.2.1. Số lượng bài hát theo năm:
year
2010     318
2011     325
2012     404
2013     479
2014     548
2015     820
2016     857
2017    1000
2018     997
2019    1000
2020    1000
2021     999
2022     893
2023     801

In [17]:
        
print("\n3.2.2 10 Thể loại nhạc (main_genre) hàng đầu (theo số lượng bài hát):")
print(df['main_genre'].value_counts().head(10).to_string())

3.2.2 10 Thể loại nhạc (main_genre) hàng đầu (theo số lượng bài hát):
main_genre
Pop                  3836
Hip-Hop/Rap          2662
World/Traditional    1658
Electronic/Dance      623
Rock                  501
R&B/Soul              376
Unknown               331
Indie/Alternative     206
Metal                 125
Other                  82

In [18]:
print("\n3.3. Phân tích nhóm (Trọng tâm)")

print("\n3.3.1. Top 10 Thể loại (theo Tổng Streams):")
# Tính toán và làm tròn cột 'mean' cho dễ đọc
streams_by_genre = df.groupby('main_genre')['Streams'].agg(['sum', 'mean', 'count']).sort_values('sum', ascending=False)
streams_by_genre['mean'] = streams_by_genre['mean'].round(0)
print(streams_by_genre.head(10).to_string())

3.3. Phân tích nhóm (Trọng tâm)

3.3.1. Top 10 Thể loại (theo Tổng Streams):
                             sum         mean  count
main_genre
Pop                1504854315141  392297788.0   3836
Hip-Hop/Rap         877276031089  329555233.0   2662
World/Traditional   432503750207  260858715.0   1658
Electronic/Dance    206872596151  332058742.0    623
Rock                174906689358  349115148.0    501
R&B/Soul            136421076804  362822013.0    376
Unknown              80646214920  243644154.0    331
Indie/Alternative    68587093704  332947057.0    206
Metal                26617227425  212937819.0    125
Other                21167504023  258140293.0     82

In [19]:
print("\n3.3.2. Top 10 Nghệ sĩ (theo Tổng Streams):")
top_artists_streams = df.groupby('Artist')['Streams'].sum().sort_values(ascending=False)
print(top_artists_streams.head(10).to_string())

3.3.2. Top 10 Nghệ sĩ (theo Tổng Streams):
Artist
Taylor Swift     70049318253
Drake            58113767707
The Weeknd       49845456951
Bad Bunny        49487844806
Ed Sheeran       41700850534
Post Malone      37429365927
Billie Eilish    34544804235
Ariana Grande    34439730259
BTS              30691066285
Justin Bieber    25971183590

In [20]:

print("\n3.3.3. Top 10 Bài hát (theo Tổng Streams):")
top_songs = df.sort_values('Streams', ascending=False)[['Artist and Title', 'Artist', 'year', 'main_genre', 'Streams']]
print(top_songs.head(10).to_string())

3.3.3. Top 10 Bài hát (theo Tổng Streams):
                       Artist and Title           Artist  year   main_genre     Streams
7444       The Weeknd - Blinding Lights       The Weeknd  2020     R&B/Soul  4387731728
548           Ed Sheeran - Shape of You       Ed Sheeran  2017          Pop  3973446189
8444  Lewis Capaldi - Someone You Loved    Lewis Capaldi  2018          Pop  3522436549
4073           Harry Styles - As It Was     Harry Styles  2022          Pop  3471556211
8445            Post Malone - Sunflower      Post Malone  2018  Hip-Hop/Rap  3453846546
5767               The Weeknd - Starboy       The Weeknd  2016     R&B/Soul  3401512331
5768                  Drake - One Dance            Drake  2016  Hip-Hop/Rap  3280298923
3074               The Kid LAROI - STAY    The Kid LAROI  2021  Hip-Hop/Rap  3202673861
9441         Tones And I - Dance Monkey      Tones And I  2019          Pop  3112873889
549          Imagine Dragons - Believer  Imagine Dragons  2017         Rock  3083580989